* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: black;
    max-width: 1080px;
    height: 75px;
}

a:hover {
    color: goldenrod;
}

.logo {
    height: 100px;
    width: 125px;
    margin-left: 25px;
    position: absolute;
    background-image: url(Img/Beeseyewink\ Logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 600px;
    padding-top: 25px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Cormorant Garamond', serif;
}

.homepagepic {
    display: block;
    max-width: 1078px;
    height: auto;
}

.contentpage {
    height: 2800px;
    max-width: 1080px;
    padding: 10px;
    background-color: whitesmoke
}

.intro {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', serif;
    color: #425664;
    padding-top: 90px;
    font-size: 20px;
    font-weight: 100;
}

.intro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    color: black;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 100;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.divider .line {
    width: 80px;
    height: 1px;
    background-color: black;
    margin: 0 15px;
}

.divider .arrow {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.finished {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 50px;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 100;
}

.gridpics {
    display: grid;
    grid-template-areas:
        "pic1 pic2 pic3"
        "pic4 pic5 pic6";
    height: 800px;
    grid-gap: 0.6rem 0.6rem;
}

.gridpic1 {
    margin-top: 20px;
    background-image: url(./Img/Gridpic1.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gridpic2 {
    margin-top: 20px;
    background-image: url(./Img/Gridpic2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gridpic3 {
    margin-top: 20px;
    margin-right: 10px;
    background-image: url(./Img/Gridpic3.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gridpic4 {
    background-image: url(./Img/Gridpic4.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gridpic5 {
    background-image: url(./Img/Gridpic5.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gridpic6 {
    margin-right: 10px;
    background-image: url(./Img/Gridpic6.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.journey1 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 100;
}

.journey2 {
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.journey3 {
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.journey4 {
    margin-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.utubegrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-left: 20px;
}

.utubegrid1 .utubegrid2 .utubegrid3 .utubegrid4 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.utubegrid1 .utubegrid2 .utubegrid3 .utubegrid4:hover {
    transform: translateY(-5px);
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.last {
    margin-top: 60px;
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 100;
}

.bio {
    color: black;
    text-decoration: none;
}

.bio:hover {
    color: goldenrod;
}

.line1 {
    width: 150px;
    height: 2px;
    background-color: black;
    margin: 0 15px;
}

.socialmedialinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.socialmedialinks a {
    width: 50px;
    height: 50px;
    background-color: #999999;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s;
}

.socialmedialinks a:hover {
    background-color: goldenrod;
}

.gridfooter {
    display: grid;
    grid-template-areas:
        "navigation getintouch blank";
    margin-top: 50px;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bolder;
}

.navigation {
    margin-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.getintouch {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.p1 {
    margin-top: 15px;
}

.p1:hover {
    color: goldenrod;
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: goldenrod;
}

@media screen and (max-width: 600px) {

    body,
    html {
        width: 100%;
        overflow-x: visible;
    }

    .navbar {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }

    ul {
        flex-direction: column;
        margin-left: 0;
        gap: 10px;
        padding: 10px;
    }

    .logo {
        margin-inline: 50vw;
        margin-top: 20px;
    }

    .homepagepic {
        width: 105%;
        height: auto;
    }

    .contentpage {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .gridpics {
        grid-template-columns: 1fr;
        height: auto;
    }

    .utubegrid {
        grid-template-columns: 1fr;
        margin: 10px;
    }

    iframe {
        height: 200px;
    }

    .journey1,
    .journey2,
    .journey3,
    .journey4,
    .intro,
    .intro1,
    .finished {
        font-size: 16px;
        text-align: center;
        padding: 15px;
    }

    .socialmedialinks a {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .gridfooter {
        grid-template-areas:
            "navigation"
            "getintouch"
            "blank";
        grid-template-columns: 1fr;
        text-align: center;
        margin: 30px auto;
        margin: 0px;
    }

    .navigation,
    .getintouch {
        margin: 10px auto;
        font-size: 16px;
    }

    h2 {
        font-size: 22px;
    }

    .line1 {
        width: 100px;
    }

    .bio {
        font-size: 18px;
    }
}