* {
    margin: 0px;
    padding: 0px;
}

.contentpage {
    height: 2500px;
    max-width: 1080px;
    background-color: whitesmoke
}

.navbar {
    background-color: rgb(250, 250, 157);
    max-width: 1080px;
    height: 75px;
}

.logo {
    height: 100px;
    width: 125px;
    margin-left: 25px;
    position: absolute;
    background-image: url(Img/Beeseyewink\ Logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-left: 600px;
    padding-top: 25px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    font-weight: 600;
}

a:hover {
    color: goldenrod;
}

.intro {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 130px;
    color: #425664;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: light;
    padding-top: 15px;
}

.photogrid {
    display: grid;
    grid-template-areas:
        "g1 g2 g3"
        "g4 g5 g6"
        "g7 g8 g9"
        "g10 g11 g12"
        "g13 g14 g15";
    grid-gap: 1rem;
    height: 2000px;
    padding: 10px;
}

.photo1 {
    background-image: url(./Img/Gauri_Annanya.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo2 {
    background-image: url(./Img/Marathi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo3 {
    background-image: url(./Img/Shweta-Pramod.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo4 {
    background-image: url(./Img/Shalini-and-Robins.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo5 {
    background-image: url(./Img/Anujna-Vincents.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo6 {
    background-image: url(./Img/Mahima-Govinds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo7 {
    background-image: url(./Img/Mukta-Prathmesh.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo8 {
    background-image: url(./Img/smriti-abhisheks.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo9 {
    background-image: url(./Img/Nishigandha-Keshavs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo10 {
    background-image: url(./Img/Gridpic4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo11 {
    background-image: url(./Img/taj-vivanta.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo12 {
    background-image: url(./Img/Gridpic5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo13 {
    background-image: url(./Img/garden-court-marathi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo14 {
    background-image: url(./Img/Gridpic3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo15 {
    background-image: url(./Img/siddharth-palace.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gridfooter {
    display: grid;
    grid-template-areas:
        "navigation getintouch blank";
    margin-top: 50px;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bolder;
}

.navigation {
    margin-left: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.getintouch {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 25px;
}

.p1 {
    margin-top: 20px;
}

.p1:hover {
    color: goldenrod;
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: goldenrod;
}

@media (max-width: 768px) {

    body,
    html {
        width: 100%;
        overflow-x: visible;
    }

    .navbar {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
    }

    ul {
        flex-direction: column;
        margin-left: 0;
        gap: 10px;
        padding: 10px;
    }

    .logo {
        margin-inline: 50vw;
        margin-top: 20px;
    }

    .contentpage {
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .intro {
        margin: 0px 0;
        font-size: 20px;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .photogrid {
        display: grid;
        grid-template-areas:
            "g1 g2"
            "g3 g4"
            "g5 g6"
            "g7 g8"
            "g9 g10";
        grid-gap: 1rem;
        height: 2000px;
        padding: 10px;
    }

    .photo5 {
        background-position: 25% ;
    }

    .gridfooter {
        grid-template-areas:
            "navigation"
            "getintouch";
        text-align: center;
        justify-content: center;
        margin: 0px;
    }

    .navigation {
        margin: 5px;
    }

    .getintouch {
        margin: 5px;
    }
}